###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
GTAGS
GPATH
GRTAGS
*.swp
*.swo

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
