/**reset**/
body, html {
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background: #2d2d2d;
  color: white;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
  padding: 1em;
}

header {
  background-color: rgba(255, 255, 255, 0.2);
}

nav {
  width: 500px; /* extract these 3 rules if necessary into a 'centered' class */
  margin: auto;
  padding: 2em;
}

section + section {
  margin-top: 2em;
}

input, textarea {
    width: 100%;
    display: block;
    padding: 1em;
}

[type="submit"] {
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

.group {
    margin-bottom: 1em;
}

.gig {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1em;
  margin-bottom: .5em;
}

@media (min-width: 768px) {
    main {
        padding: 2em;
    }
    .gig-location-details {
        text-align: right;
    }
}
