/**reset**/
body, html {
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background: #2d2d2d;
  color: white;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  width: 500px;
  margin: auto;
  padding: 2em;
}

header {
  width: 500px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
}

section + section {
  margin-bottom: 2em;
}

.gig {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1em;
}

.gig + .gig {
  margin-top: .5em;
}

.gig-location-details {
  float: right;
}
