{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <h2 class="title">Contact us</h2>
        <p>Please email us at:</p>
        <a>
            <span
                style="cursor: pointer"
                onclick="this.textContent = ('boganspunkrock' + '@gmail' + String.fromCharCode(46) + 'com'); this.onclick = null; this.style.cursor='default'"
            >
                click to reveal
            </span>
        </a>

    </section>

{% endblock %}

