{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <h2 class="title">{{ title }}</h2>

        {% for image in images %}
            <div class="gallery">
                <div class="gallery__images">
                    {% if image['Key'] ends with '.jpg' %}
                        <img class="gallery__image" src="//{{s3Url}}{{image['Key']}}"/>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p>
                There aren't any images in this gallery.
                Why not go
                    <a
                        href="/gallery">
                        back to the gallery page
                    </a>
                and try a different one?
            </p>
        {% endfor %}
    </section>

{% endblock %}
