{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <h2 class="title">Gallery</h2>

        <div>
            <a href="">Rehearsals</a>
        </div>

        <div>
            <a href="">Outpost 2021-10-02</a>
        </div>

        <div>
            <a href="">Promo shots</a>
        </div>

        {#
        {% for gallery in galleries %}
            <div class="gallery">
                <h2 class="title">{{ gallery['name'] }}</h2>

                <div class="gallery__images">
                    {% for image in gallery['images'] %}
                        {% if image['Key'] ends with '.jpg' %}
                            <img class="gallery__image" src="//{{s3Url}}{{image['Key']}}"/>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        {% endfor %}
        #}
    </section>

{% endblock %}
