<!DOCTYPE html>
<html>
    {% include 'sections/head.phtml' %}
    <body>
        {% include 'sections/header.phtml' %}
        <main>
            <div class="grid">
                {% include 'pages/' ~ page ~ '.phtml' %}
            </div>
        </main>
    </body>
</html>
