
/* Reset */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, a, 
dl, dt, dd, ol, ul, li,
article, aside, canvas, details, embed, 
footer, header, menu, nav, section, 
time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --color-primary: #ff8585;
  --spacing: 15px;
}

body {
  font-family: 'Andada Pro', serif;
  background: black;
  color: #fff;
}

header, footer, main {
    padding: 25px;
    margin: auto;
}

footer, header {
    background: var(--color-primary);
}

header a, footer a {
    color: white;
    font-weight: bold;
}

a, h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 2rem;
}

a + a {
    margin-left: var(--spacing);
}

.gig {
    padding: var(--spacing);
    border:1px solid #fff;
    display: flex;
}

.gig > * {
    flex:1;
}

.gig + .gig {
    margin-top: var(--spacing);
}

.gig__venue {
    text-align: right;
}

.hero {
    width: 100%;
}
