/**reset**/
blockquote, body, html, p {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  width: 170px;
}

html {
  background: #2d2d2d;
  color: white;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*Some colors
*/
a {
    color: white;
    text-decoration: none;
    font-weight:bold;
}

a:hover {
    text-decoration: underline;
}

main {
  padding: 1em;
}

main a {
    color: #5cff96;
}

footer,
header {
  background-color: rgba(255, 255, 255, 0.2);
}

article time {
  font-size: .75rem;
  color: #5cff96;
}

header nav {
  padding: 0.5em;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  align-items: center;
}

footer nav {
  padding: 1em;
}

nav {
  margin: auto;
}

nav a + a {
  margin-left: 1em;

}

p + p {
    margin-top: 1em;
}

section + section {
  margin-top: 2em;
}

input, textarea {
    width: 100%;
    display: block;
    padding: 1em;
}

[type="submit"] {
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

article h1 {
    border-bottom: 1px solid white;
}

article img {
    width: 100%;
}

article time {
    display: block;
}

blockquote {
    border-left: 2px solid #5cff96;;
    font-style: italic;
    padding-left: 1em;
}

blockquote + blockquote {
    margin-top: 1em;
}

.hero-image {
    height: 250px;
    position: relative;
    background-color: #5cff96;
}

.hero-image-header {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
}
.image-collage {
    opacity: 0.05;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;

}

.image-collage .image {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;           /* IE 10 */
    flex: 1;               /* NEW, Spec - Firefox, Chrome, Opera */

}

.nav-logo {
    border-radius: 50px;
    width: 50px;
}

.review-source {
    margin-top: .5em;
    font-style: normal;
    font-weight: bold;
}

.review-home {
    font-size: 1.5em;
    font-style: italic;
}

.group {
    margin-bottom: 1em;
}

.gig {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1em;
  margin-bottom: .5em;
}

#loading-spinner {
  right: 0;
  left: 0;
  bottom: 50%;
  position: absolute;
  margin: auto;
}

@media (min-width: 768px) {
    main {
        padding: 2em;
    }
    /**
     * crappy hack, use flex to vertically align
     * and then it'll be in the dom and honour
     * the width correctly
     */
    .hero-image-header {
        width: 30%;
        max-width: 560px;
    }
    .gig-location-details {
        text-align: right;
    }

    article time {
        float: right;
    }
}

@media handheld, only screen and (max-width: 767px) {
  .grid {
    padding: 0 !important;
  }

}
