<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="./assets/css/stylesheet.css">
        <title>{% block title %}Bogans{% endblock %}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;800&display=swap" rel="stylesheet">
    </head>


    <body>

        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/gallery">Gallery</a>
                <a href="https://bogans.bigcartel.com/">Merch</a>
                <a href="/contact">Contact</a>
            </nav>
        </header>

        <div class="plug">
            <p>Listen to us on
                <a
                    class="plug__link"
                    href="https://open.spotify.com/artist/6fupj4cJhQcvzGBmCcVErH?si=3x77W_4YT4OhzBwSokgI-g"
                >
                Spotify
                </a>
            </p>
        </div>

        <img class="hero" src="../assets/images/bogans.jpg"/>

        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <nav>
                <a href="#">Facebook</a>
                <a href="https://www.instagram.com/boganspunk/">Instagram</a>
                <a href="https://www.youtube.com/channel/UCPX9uxsEa9qdiWboqOvQXQg/featured">Youtube</a>
            </nav>
        </footer>
    </body>
</html>
